@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: #191646;
}
.header-title {
  color: #191646;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title {
  color: #191646;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.subtitle {
  color: #191646;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detail {
  color: #090866;
  /* text-align: center; */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: none;
}
.header-btn{
  font-size: 13px;
  border-radius: 10px;
  padding: 3px 7px;
}
.header-btn:hover{
  border-bottom: 1px solid #090866;
  color: #090866;
}

input, textarea{
  border: 2px solid #191646;
  color: #191646;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  padding: 5px;
}

.hide{
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all ease-out 1.5s;
}