@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.header-btn{
  font-size: 13px;
  border-radius: 10px;
  padding: 3px 7px;
}
.header-btn:hover{
  background: #090866;
  color: white;
}